.App {
  text-align: center;
}

.App-header {
  color: white;
  background-color: black;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.centerdiv{
  margin: auto;
  padding: 20px;
}
